@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Poppins:wght@300&family=Roboto:ital@1&display=swap');

.App {
  display: flex;
  flex-direction: column;
  font-family: 'Italianno', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}